.clientes__container {
  z-index: 3;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  background: #fff;
}

.clientes__title {
  font-size: 3rem;
  font-weight: 600;
  margin: 2rem auto 1rem;
}

.clientes__container hr {
  margin: auto;
  width: 95%;
}

.clientes__slider {
  margin: auto;
  position: relative;
  background: #fff;
  padding: 1rem;
  overflow: hidden;
  width: 2000px;
  animation: aparecerSlider 1s linear;
  transition: .2s;
}

@keyframes aparecerSlider {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.clientes__slider img {
  width: 6rem;
}

.clientes__slider-fotos { 
  position: relative;
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.adelante1 {
  animation: adelante1 50s infinite linear;
}

@keyframes adelante1 {
  from{
    right: 149%;
  }
  to {
    right: 0;
  }
}

.atras1 {
  animation: atras1 50s infinite linear;
}

@keyframes atras1 {
  from{
    right: 0;
  }
  to {
    right: 129.5%;
  }
}

.adelante2 {
  animation: adelante2 40s infinite linear;
}

@keyframes adelante2 {
  from{
    right: 138.5%;
  }
  to {
    right: 0;
  }
}

.clientes__slider-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.clientes__sectores p {
  margin: 2rem;
}

.clientes__container h4 {
  color: #fff;
  background: #00348f;
  padding: .5rem 1rem;
  width:100%;
  margin-top: 1rem;
  text-transform: uppercase;
}

.clientes__botones {
  gap: .5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.clientes__botones button {
  width: 30%;
  text-align: center;
  border: none;
  padding: 1.2rem;
  font-weight: 600;
  outline: none;
  background: rgb(213, 213, 213);
  transition: .2s;
}

.clientes__botones-active {
  background: #00348f !important;
  color: #fff;
}

.clientes__botones button:hover,
.clientes__botones button:focus {
  background: linear-gradient(rgb(213, 213, 213), #fff 90%);
}

@media screen and (max-width: 1568px) {
  .clientes__botones button {
    padding: 0.9rem 1rem;
  }
}

@media screen and (max-width: 900px) {
  .clientes__botones button {
    font-size: .9rem;
  }
}

@media screen and (max-width: 650px) {
  .clientes__botones button {
    width: 90%;
  }
}