.clientes__container {
  overflow: hidden;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  background: #fff;
}

.clientes__title {
  font-size: 3rem;
  font-weight: 600;
  margin: 2rem auto 1rem;
}

.clientes__container hr {
  margin: auto;
  width: 95%;
}

.clientes__slider {
  margin: auto;
  position: relative;
  background: #fff;
  padding: 1rem;
  overflow: hidden;
  width: 2000px;
}

.clientes__slider img {
  width: 6rem;
}

.clientes__slider-fotos { 
  position: relative;
  height: 6rem;
  width: 100%;
  animation: slider 40s infinite linear;
  display: flex;
  align-items: center;
  gap: 2rem;
  
}

@keyframes slider {
  from{
    right: 149%;
  }
  to {
    right: 0;
  }
}

.clientes__slider-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: rgba(22, 22, 22, .3); */
  bottom: 0;
  left: 0;
}

.clientes__sectores p {
  margin: 2rem;
}

.clientes__sectores-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.clientCard__container {
  /* border: 1px solid #252525; */

  border-radius: 15px;
  width: 20rem;
  height: 6rem;
  
  padding: .8rem 3rem;
  display: flex;
  /* align-items: center; */
  text-align: center;
  justify-content: center;

  
}

.clientCard__container p {
  font-weight: 800;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.gradient__text {
}

