.clientes__container {
  z-index: 3;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  background: #fff;
}

.clientes__title {
  font-size: 3rem;
  font-weight: 600;
  margin: 2rem auto 1rem;
}

.clientes__container hr {
  margin: auto;
  width: 95%;
}

.clientes__slider {
  margin: auto;
  position: relative;
  background: #fff;
  padding: 1rem;
  overflow: hidden;
  width: 2000px;
}

.clientes__slider img {
  width: 6rem;
}

.clientes__slider-fotos { 
  position: relative;
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.adelante1 {
  animation: adelante1 50s infinite linear;
}

@keyframes adelante1 {
  from{
    right: 149%;
  }
  to {
    right: 0;
  }
}

.atras1 {
  animation: atras1 50s infinite linear;
}

@keyframes atras1 {
  from{
    right: 0;
  }
  to {
    right: 129.5%;
  }
}

.adelante2 {
  animation: adelante2 40s infinite linear;
}

@keyframes adelante2 {
  from{
    right: 138.5%;
  }
  to {
    right: 0;
  }
}

.clientes__slider-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.clientes__sectores p {
  margin: 2rem;
}

/* .clientes__sectores-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
} */

.clientes__container h4 {
  color: #fff;
  background: #00348f;
  padding: .5rem 1rem;
  /* border-radius: 5px; */
  width:100%;
  margin-top: 1rem;
  text-transform: uppercase;
}

.clientes__h4-1 {
  background: #7c0019;
}

.clientes__h4-2 {
  background: #838110;
}

.clientes__h4-3 {
  background: #226200;
}