.contenedor-servicios-general {
  background: white;
  padding: 2rem;
}

.contenedor-servicios-tabs {
  /* padding: 40px; */
}

.contenedor-servicios-tabs {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contenedor-servicios-tabs-imagen {
  width: 100px;
}

.servicios-contenedor {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
  /* border-bottom: 1px solid gray; */
  padding: 20px;
}

.servicios-contenedor.invertido {
  flex-wrap: wrap-reverse;
}

.servicios-contenedor-img {
  object-fit: cover;
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
}

.servicios-contenedor-texto {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  max-width: 500px;
  width: 50%;
}
.servicios-contenedor-texto-caracteristicas li {
  /* text-transform: lowercase; */
  text-align: left;
}

@media (max-width: 850px) {
  .servicios-contenedor-texto {
    max-width: 500px;
    width: 100%;
  }
}
