.nosotros-container{
    background-color: #fff;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nosotros-container-item{
    width: 150px;
    height: 150px;
    border: 1px solid blue;
    border-radius: 10px;
}

.nosotros-container-img{
    width: 200px;
}