.nosotros-container-general {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #fff;
  flex-wrap: wrap;
  padding: 20px;
}
.nosotros-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.nosotros-container-item {
  width: 150px;
  height: 150px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  transition: all .3 ease-in-out;
}

.nosotros-container-item:hover  {
  transform: translate(0px,-5px);
  color: red;
}

.nosotros-container-img {
  width: 200px;
}
.nosotros-container-compañia {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: 50%; */
}

.nosotros-container-item-icons {
  font-size: 50px;
  color: rgb(9, 92, 107);
}
