#footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 0;
  bottom: 0;
  left: 0;
  height: 100rem;
  width: 100%;
  background: linear-gradient(rgb(237, 237, 237) 1%, rgb(9, 46, 95) 100%);
  /* background: linear-gradient(rgba(9, 46, 95,.05) 0%, rgb(9, 46, 95) 70%, rgb(9, 46, 95) 100%); */

}

#footer p {
  width: 30rem;
  color: white;
  text-align: center;
  border-top: solid rgb(203, 201, 201) 1px;
  padding-top: 1rem;
}

.footer__contador {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
}

.footer__contador img {
  width: 90px;
}

.footer__cubierta-contador {
  position: absolute;
  background: rgba(9, 46, 95, 1);
  width: 100px;
  height: 20px;
  left: 0;
  transition: .3s;
  z-index: 4;
}

.footer__cubierta-contador:hover {
  opacity: 0.3;
}