#footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 0;
  bottom: 0;
  left: 0;
  height: 80rem;
  width: 100%;
  background: linear-gradient(rgb(237, 237, 237) 1%, rgb(9, 46, 95) 100%);
}

#footer p {
  width: 30rem;
  color: white;
  text-align: center;
}