.intro {
  border: solid blue 3px;
}

.intro-titulo {
  color: green;
}

.intro-carrusel-imagen {
  width: 200px;
  height: 450px;
  object-fit: cover;
  filter: invert(0.4) sepia(1) hue-rotate(20deg);
}

.intro-carrusel-contenido-imagen {
  width: 300px;
  object-fit: contain;
}

.carousel-caption {
  background-color: aqua !important;
  max-width: 600px;
}

.intro-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #fff;
  color: #000000;
}

.intro-contenedor-informacion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 500px;
  margin: 20px 40px;
}

.intro-contenedor-imagen {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-contenedor-imagen-img {
  width: 300px;
}
