.eamtTitleH1-hidden {
  position: absolute;
  color: transparent;
}

.intro-titulo {
  color: green;
}

.intro-carrusel-imagen {
  width: 200px;
  height: 450px;
  object-fit: cover;
}

.intro-carrusel-contenido-imagen {
  width: 300px;
  object-fit: contain;
  margin-bottom: 2rem;
}

.carousel-caption {
  background-color: aqua !important;
  max-width: 600px;
}

.intro-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  color: #000000;
  padding: 20px 60px;
}

.intro-contenedor-informacion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 300px;
  width: 50%;
  height: 500px;
  padding: 0px 20px;
}

.intro-contenedor-imagen {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-contenedor-imagen-img {
  width: 300px;
}
.intro-carousel .carousel-control-prev {
  /* position: absolute; */
  max-width: 50px;
  /* top: 0; */
}

.intro-carousel .carousel-control-next {
  /* position: absolute; */
  max-width: 50px;
}

@media (max-width: 850px) {
  .intro-contenedor-imagen,
  .intro-carousel .carousel-control-prev,
  .intro-carousel .carousel-control-next {
    display: none;
  }
  .intro-texto{
    padding: 0px !important;
  }
}

.carousel-dark .carousel-indicators button {
  height: 12px;
  width: 40px;
  border-radius: 10px;
  border: transparent;
  background: rgb(26 71 196) !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: brightness(0) saturate(100%) invert(61%) sepia(69%) saturate(1099%)
    hue-rotate(143deg) brightness(103%) contrast(103%) !important;
}

.intro-texto{
  padding: 0px 40px 0px 20px;
}