#bigBox {
  position: absolute;
  width: 100%;
  background: rgb(237, 237, 237);
  background-image: linear-gradient(rgb(9, 46, 95) 1%,rgb(237, 237, 237) 100%);
  
  background-repeat: no-repeat;
  background-size: 100% 100rem;
  /* filter: blur(8px); */
}

#bigBox-app {
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  #bigBox-app {
    width: 85%;
  }
}

@media screen and (max-width: 750px) {
  #bigBox-app {
    width: 95%;
  }
}