#bigBox {
  position: absolute;
  width: 100%;
  background: rgb(237, 237, 237);
  background-image: url('./imagenes/mainBG2.jpg');
  
  background-repeat: no-repeat;
  background-size: 100% 50rem;
  /* filter: blur(8px); */
}

#bigBox-app {
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  #bigBox-app {
    width: 85%;
  }
}

@media screen and (max-width: 750px) {
  #bigBox-app {
    width: 95%;
  }
}